*{
  padding:0;
  margin: 0;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
#quote-box{
  background-color: white;
  padding: 40px;
  max-width: 500px;
  box-shadow: -3px 3px 0px 7px;
}
#new-quote{
  background-color: rgb(250, 250, 250);
  padding: 5px;
  font-weight:600;
}
#new-quote:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px;
}
#text{
  text-align: center;
}
#author{
  text-align: right;
  padding: 20px 0 20px;
}
#b{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
#tweet-quote{
  color: black;
  padding: 5px;
}
